@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

input:-internal-autofill-selected {
    appearance: menulist-button; /* Mantén esta propiedad si deseas conservar la apariencia de un botón de selección */
    background-image: none !important; /* Elimina cualquier imagen de fondo predeterminada */
    background-color: #4E4E4E !important; /* Nuevo color de fondo (#4E4E4E) */
    color: fieldtext !important; /* Puedes ajustar el color del texto si es necesario */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important; /* Color del texto */
    -webkit-box-shadow: 0 0 0px 1000px #4E4E4E inset !important; /* Color de fondo */
    transition: background-color 5000s ease-in-out 0s; /* Transición para evitar parpadeo */
}

input:-moz-autofill {
    -moz-text-fill-color: white !important; /* Color del texto */
    -moz-box-shadow: 0 0 0px 1000px #4E4E4E inset !important; /* Color de fondo */
    transition: background-color 5000s ease-in-out 0s; /* Transición para evitar parpadeo */
}

input:-webkit-autofill:focus {
    caret-color: white; /* Color del cursor en WebKit (Chrome, Safari) */
  }
  
  input:-moz-autofill:focus {
    caret-color: white; /* Color del cursor en Firefox */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #201E1E;
    color: #F8F0F0;
}

.main{
    display: flex;
}

.container{
    width: 1360px;
    padding: 40px;
    margin: 0 auto;
}

.header{
    background-color: #3A3A3A;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header--h1, .nav{
    margin: auto 0;
}

.nav--a{
    color: #F8F0F0;
    text-decoration: none;
    margin-left: 1em;
}

.header--h1{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.form--container{
    width: 600px;
    height: 733px;
    background-color: #3A3A3A;
    border: solid 1px #898989;
    border-radius: 20px;
    padding: 51px;
    position: fixed;
    /* display: none; */
}

.form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form--input,
.customer--input{
    border: none;
    border-radius: 10px;
    background-color: #4E4E4E;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color:#F8F0F0;
}

.form--input{
    width: 400px;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 31px;
}

.input-error{
    border: #D37373 1px solid;
}

.form--input:focus, 
.search-customer:focus,
.customer--input:focus{
    border: 1px solid #F8F0F0;
    outline: none;
}

.form--btn,
.submit--btn{
    border: none;
    border-radius: 10px;
    background-color: #4E4E4E;
    color:#818181;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: not-allowed;
}

.form--btn{
    width: 180px;
    height: 60px;
}

.submit--btn{
    margin-left: 16px;
    width: 120px;
    height: 60px;
}

.add{
    background-color: #5C38FE;
    cursor: pointer;
    color:#F8F0F0;
}

.customers-ui{
    margin-left: 680px;
}

.search-customer{
    display: flex;
    align-items: center;
    width: 600px;
    height: 80px;
    border-radius: 40px;
    border: solid 1px #898989;
    background-color: #4E4E4E;
    padding-left: 33px;
    /* position: fixed; */
}

.focus{
    border: 1px solid #F8F0F0;
}

.search-customer--input{
    border: none;
    width: 90%;
    height: 100%;
    background-color: inherit;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #F8F0F0;
    padding-left: 10px;
}

.fa-magnifying-glass{
    color: #757575;
    font-size: 20px;
    text-align: end;
}

.search-customer--input:focus{
    border: none;
    outline: none;
}

.customers--container{
    margin-top: 80px;
}

.customer--container{
    width: 600px;
    height: 348px;
    border-radius: 20px;
    background-color: #3B3B3B;
    border: #898989 1px solid;
    margin-bottom: 20px;
}

.customer--div1{
    height: 246px;
    display: flex;
    padding: 32px 26px 0 26px;
    border-bottom: #898989 1px solid;
}

.customer-info,
.customer-info-editing{
    width: 250px;
    height: 100%;
    display: grid;
}

.customer-info{
    grid-template-columns: 96px 1fr;
}

.customer-info-editing{
    grid-template-columns: 85px 1fr;
}


.customer--img-container{
    width: 80px;
    height: 80px;
    /* background-color: #F8F0F0; */
    border-radius: 50%;
    margin-right: 26px;
}

.customer-info-col1,
.customer-info-col2,
.customer-info2-col1,
.customer-info2-col2
{
    display: grid;
}

.customer-info-col1,
.customer-info-col2{
    grid-template-rows: repeat(6,1fr);
}

.customer-info-col1,
.customer-info2-col1{
    font-weight: 600;
    line-height: 24px;
    color: #818181;
}

.customer-info-col2,
.customer-info2-col2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.customer--action{
    margin-left: auto;
}

.customer--action-btn,
.customer-editing--action-btn{
    cursor: pointer;
    color: #818181;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    background: none;
    border: none;
}

.customer--action-btn{
    margin-left: 17.1px;
}

.remove:hover{
    color: #D37373;
}

.edit:hover{
    color: #32959B;
}

.customer--div2{
    height: 102px;
    padding: 17px 0;
}

.customer-info--container2,
.customer-info--container1{
    display: flex;
    justify-content: space-between;
}

.customer-info--container2{
    margin: 0 26px 0 132px;
    height: 100%;
}

.customer-info2-col1,
.customer-info2-col2{
    grid-template-rows: repeat(2,1fr);
}

.customer--input{
    width: 148px;
    height: 29px;
    border-radius: 4px;
    padding: 0 12px;
    margin: 0;
    font-weight: 400;
}

label{
    margin-top: 2px;
}
